
.date-button {

  background-color: rgb(35, 203, 117);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: 4 12 4 12;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;

}

.date-button:hover {
  background-color: lightgrey;
  color: rgb(35, 203, 117);
  opacity: 0.7;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

}

.date-button:active{
  opacity: 0.4;
}

.real-button {
  font-weight: bold;
  border: none;
  border-radius: 2px;
  padding: 4 12 4 12;
  cursor: pointer;
}

.real-button:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
  <!-- the box-shadow property take 4 values. the first three always have the pixels -->

}


